SQS_URL_LORA_TRAINING=https://
SQS_URL_COMFYUI
AWS_ACCESS_KEY_ID=A
AWS_SECRET_ACCESS_KEY=K
FIREBASE_SERVICE_ACCOUNT_KEY=h
FIREBASE_SERVICE_ACCOUNT_KEY_HMM=h
FIREBASE_DATABASE_URL=http
FIREBASE_DATABASE_URL_HMM=http
REGION_NAME=ap-northeast-2
S3_BUCKET_NAME=ddd
PRETRAINED_MODEL_PATH=models/hair_foundation_resume-000044.safetensors